GIR.Sigim/GIR.Sigim.Application.Service/Web References/clienteAcessoLogWS/clienteAcessoLogWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AtualizaAcessoCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="parIntCodigoCliente" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="parStrNomeCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parStrNomeServidor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parStrIP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parStrNomeUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parStrNomeSistema" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="parIntContadorUsuario" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="parStrNomeBaseDados" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parStrVersaoSistema" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AtualizaAcessoClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AtualizaAcessoClienteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidaAcessoCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="parIntCodigoCliente" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidaAcessoClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidaAcessoClienteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AtualizaAcessoClienteSoapIn">
    <wsdl:part name="parameters" element="tns:AtualizaAcessoCliente" />
  </wsdl:message>
  <wsdl:message name="AtualizaAcessoClienteSoapOut">
    <wsdl:part name="parameters" element="tns:AtualizaAcessoClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ValidaAcessoClienteSoapIn">
    <wsdl:part name="parameters" element="tns:ValidaAcessoCliente" />
  </wsdl:message>
  <wsdl:message name="ValidaAcessoClienteSoapOut">
    <wsdl:part name="parameters" element="tns:ValidaAcessoClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="clienteAcessoLogWSSoap">
    <wsdl:operation name="AtualizaAcessoCliente">
      <wsdl:input message="tns:AtualizaAcessoClienteSoapIn" />
      <wsdl:output message="tns:AtualizaAcessoClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidaAcessoCliente">
      <wsdl:input message="tns:ValidaAcessoClienteSoapIn" />
      <wsdl:output message="tns:ValidaAcessoClienteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="clienteAcessoLogWSSoap" type="tns:clienteAcessoLogWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AtualizaAcessoCliente">
      <soap:operation soapAction="http://tempuri.org/AtualizaAcessoCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaAcessoCliente">
      <soap:operation soapAction="http://tempuri.org/ValidaAcessoCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="clienteAcessoLogWSSoap12" type="tns:clienteAcessoLogWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AtualizaAcessoCliente">
      <soap12:operation soapAction="http://tempuri.org/AtualizaAcessoCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaAcessoCliente">
      <soap12:operation soapAction="http://tempuri.org/ValidaAcessoCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="clienteAcessoLogWS">
    <wsdl:port name="clienteAcessoLogWSSoap" binding="tns:clienteAcessoLogWSSoap">
      <soap:address location="http://www.sigim.srv.br/gircliente/WS/clienteAcessoLogWS.asmx" />
    </wsdl:port>
    <wsdl:port name="clienteAcessoLogWSSoap12" binding="tns:clienteAcessoLogWSSoap12">
      <soap12:address location="http://www.sigim.srv.br/gircliente/WS/clienteAcessoLogWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>