GIR.Sigim/GIR.Sigim.Application.Service/Web References/clienteSistemaBloqueioWS/clienteSistemaBloqueioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RecuperaPorCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="parIntCliente" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperaPorClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperaPorClienteResult" type="tns:ArrayOfClienteSistemaBloqueioSIGIMWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClienteSistemaBloqueioSIGIMWS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clienteSistemaBloqueioSIGIMWS" nillable="true" type="tns:clienteSistemaBloqueioSIGIMWS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="clienteSistemaBloqueioSIGIMWS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="codigoSistema" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="descricaoSistema" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nomeInternoSistema" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RecuperaPorClienteSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperaPorCliente" />
  </wsdl:message>
  <wsdl:message name="RecuperaPorClienteSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperaPorClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="clienteSistemaBloqueioWSSoap">
    <wsdl:operation name="RecuperaPorCliente">
      <wsdl:input message="tns:RecuperaPorClienteSoapIn" />
      <wsdl:output message="tns:RecuperaPorClienteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="clienteSistemaBloqueioWSSoap" type="tns:clienteSistemaBloqueioWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecuperaPorCliente">
      <soap:operation soapAction="http://tempuri.org/RecuperaPorCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="clienteSistemaBloqueioWSSoap12" type="tns:clienteSistemaBloqueioWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecuperaPorCliente">
      <soap12:operation soapAction="http://tempuri.org/RecuperaPorCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="clienteSistemaBloqueioWS">
    <wsdl:port name="clienteSistemaBloqueioWSSoap" binding="tns:clienteSistemaBloqueioWSSoap">
      <soap:address location="http://www.sigim.srv.br/gircliente/WS/clienteSistemaBloqueioWS.asmx" />
    </wsdl:port>
    <wsdl:port name="clienteSistemaBloqueioWSSoap12" binding="tns:clienteSistemaBloqueioWSSoap12">
      <soap12:address location="http://www.sigim.srv.br/gircliente/WS/clienteSistemaBloqueioWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>